<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>avatar</key>
			<string>12_avatar_big</string>
			<key>course_count</key>
			<string>23</string>
			<key>course_time</key>
			<string>1472044185</string>
			<key>guan_status</key>
			<string>0</string>
			<key>is_daren</key>
			<string>1</string>
			<key>list</key>
			<array>
				<dict>
					<key>hand_id</key>
					<string>348961</string>
					<key>host_pic</key>
					<string>1469971682129491210446_228</string>
				</dict>
				<dict>
					<key>hand_id</key>
					<string>269233</string>
					<key>host_pic</key>
					<string>1451035945129491277037_228</string>
				</dict>
				<dict>
					<key>hand_id</key>
					<string>225308</string>
					<key>host_pic</key>
					<string>1438959922129491254551_228</string>
				</dict>
			</array>
			<key>nick_name</key>
			<string>Faye&apos;s cake</string>
			<key>opus_count</key>
			<string>136</string>
			<key>tb_url</key>
			<string>http://s.click.taobao.com/t?e=m%3D2%26s%3Dwx2v%2Fi99kawcQipKwQzePDAVflQIoZepLKpWJ%2Bin0XJRAdhuF14FMdo5khALQLAfRitN3%2FurF3xSjqlL85x7Dkw4pjlbzzylArQ6Hpml8z2RZLps5gXyNUgUib1bNyAAcSpj5qSCmbA%3D</string>
			<key>user_id</key>
			<string>1294912</string>
			<key>video_count</key>
			<string>5</string>
		</dict>
		<dict>
			<key>avatar</key>
			<string>07_avatar_big</string>
			<key>course_count</key>
			<string>21</string>
			<key>course_time</key>
			<string>1472042915</string>
			<key>guan_status</key>
			<string>0</string>
			<key>is_daren</key>
			<string>1</string>
			<key>list</key>
			<array>
				<dict>
					<key>hand_id</key>
					<string>360515</string>
					<key>host_pic</key>
					<string>147199352855535_228</string>
				</dict>
				<dict>
					<key>hand_id</key>
					<string>327081</string>
					<key>host_pic</key>
					<string>146516373268765_228</string>
				</dict>
				<dict>
					<key>hand_id</key>
					<string>314834</string>
					<key>host_pic</key>
					<string>146218178457644_228</string>
				</dict>
			</array>
			<key>nick_name</key>
			<string>hello-泥萌-软陶手工</string>
			<key>opus_count</key>
			<string>119</string>
			<key>tb_url</key>
			<string></string>
			<key>user_id</key>
			<string>829407</string>
			<key>video_count</key>
			<string>12</string>
		</dict>
		<dict>
			<key>avatar</key>
			<string>82_avatar_big</string>
			<key>course_count</key>
			<string>19</string>
			<key>course_time</key>
			<string>1472041680</string>
			<key>guan_status</key>
			<string>0</string>
			<key>is_daren</key>
			<string>1</string>
			<key>list</key>
			<array>
				<dict>
					<key>hand_id</key>
					<string>343139</string>
					<key>host_pic</key>
					<string>14688931861683098244288_228</string>
				</dict>
				<dict>
					<key>hand_id</key>
					<string>340899</string>
					<key>host_pic</key>
					<string>14684670091683098215986_228</string>
				</dict>
				<dict>
					<key>hand_id</key>
					<string>337591</string>
					<key>host_pic</key>
					<string>146780769140814_228</string>
				</dict>
			</array>
			<key>nick_name</key>
			<string>木兰续</string>
			<key>opus_count</key>
			<string>41</string>
			<key>tb_url</key>
			<string>http://s.click.taobao.com/t?e=m%3D2%26s%3Dq0C17nww8UYcQipKwQzePDAVflQIoZepLKpWJ%2Bin0XJRAdhuF14FMUPkb1Foct12MMgx22UI05ZSjqlL85x7DpEYbnUBh0IGYRqMStCjicKgeuquEu4kDzHjlq8ZsBXwxgxdTc00KD8%3D</string>
			<key>user_id</key>
			<string>16830982</string>
			<key>video_count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>avatar</key>
			<string>41_avatar_big </string>
			<key>course_count</key>
			<string>78</string>
			<key>course_time</key>
			<string>1472039135</string>
			<key>guan_status</key>
			<string>0</string>
			<key>is_daren</key>
			<string>1</string>
			<key>list</key>
			<array>
				<dict>
					<key>hand_id</key>
					<string>327077</string>
					<key>host_pic</key>
					<string>146514997270877_228</string>
				</dict>
				<dict>
					<key>hand_id</key>
					<string>320246</string>
					<key>host_pic</key>
					<string>146345776756650_228</string>
				</dict>
				<dict>
					<key>hand_id</key>
					<string>313001</string>
					<key>host_pic</key>
					<string>146182869751173_228</string>
				</dict>
			</array>
			<key>nick_name</key>
			<string>玫瑰手作</string>
			<key>opus_count</key>
			<string>113</string>
			<key>tb_url</key>
			<string></string>
			<key>user_id</key>
			<string>862241</string>
			<key>video_count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>avatar</key>
			<string>75_avatar_big</string>
			<key>course_count</key>
			<string>15</string>
			<key>course_time</key>
			<string>1472039079</string>
			<key>guan_status</key>
			<string>0</string>
			<key>is_daren</key>
			<string>1</string>
			<key>list</key>
			<array>
				<dict>
					<key>hand_id</key>
					<string>303991</string>
					<key>host_pic</key>
					<string>145976363553495_228</string>
				</dict>
				<dict>
					<key>hand_id</key>
					<string>302906</string>
					<key>host_pic</key>
					<string>145968121247379_228</string>
				</dict>
				<dict>
					<key>hand_id</key>
					<string>301445</string>
					<key>host_pic</key>
					<string>145923761842621_228</string>
				</dict>
			</array>
			<key>nick_name</key>
			<string>北极丸子</string>
			<key>opus_count</key>
			<string>134</string>
			<key>tb_url</key>
			<string></string>
			<key>user_id</key>
			<string>16844875</string>
			<key>video_count</key>
			<string>2</string>
		</dict>
		<dict>
			<key>avatar</key>
			<string>67_avatar_big</string>
			<key>course_count</key>
			<string>15</string>
			<key>course_time</key>
			<string>1472038032</string>
			<key>guan_status</key>
			<string>0</string>
			<key>is_daren</key>
			<string>1</string>
			<key>list</key>
			<array>
				<dict>
					<key>hand_id</key>
					<string>317304</string>
					<key>host_pic</key>
					<string>146275115346718_228</string>
				</dict>
				<dict>
					<key>hand_id</key>
					<string>304956</string>
					<key>host_pic</key>
					<string>146002896044929_228</string>
				</dict>
				<dict>
					<key>hand_id</key>
					<string>299575</string>
					<key>host_pic</key>
					<string>145879771422060_228</string>
				</dict>
			</array>
			<key>nick_name</key>
			<string>暗潮</string>
			<key>opus_count</key>
			<string>99</string>
			<key>tb_url</key>
			<string>http://s.click.taobao.com/t?e=m%3D2%26s%3Dp402HSysdgccQipKwQzePDAVflQIoZepLKpWJ%2Bin0XJRAdhuF14FMaPqMRC3ROlcMMgx22UI05ZSjqlL85x7DsdGl0m%2FQfpjt1juy7%2FMU05tsYe7vslNU0kshtKQC3uPxgxdTc00KD8%3D</string>
			<key>user_id</key>
			<string>16509767</string>
			<key>video_count</key>
			<string>0</string>
		</dict>
		<dict>
			<key>avatar</key>
			<string>55_avatar_big</string>
			<key>course_count</key>
			<string>43</string>
			<key>course_time</key>
			<string>1472036926</string>
			<key>guan_status</key>
			<string>0</string>
			<key>is_daren</key>
			<string>1</string>
			<key>list</key>
			<array>
				<dict>
					<key>hand_id</key>
					<string>350415</string>
					<key>host_pic</key>
					<string>147022632965230_228</string>
				</dict>
				<dict>
					<key>hand_id</key>
					<string>346179</string>
					<key>host_pic</key>
					<string>146945254347733_228</string>
				</dict>
				<dict>
					<key>hand_id</key>
					<string>345893</string>
					<key>host_pic</key>
					<string>146945187348347_228</string>
				</dict>
			</array>
			<key>nick_name</key>
			<string>阿猫咪</string>
			<key>opus_count</key>
			<string>420</string>
			<key>tb_url</key>
			<string></string>
			<key>user_id</key>
			<string>1296455</string>
			<key>video_count</key>
			<string>0</string>
		</dict>
        <dict>
            <key>avatar</key>
            <string>12_avatar_big</string>
            <key>course_count</key>
            <string>23</string>
            <key>course_time</key>
            <string>1472044185</string>
            <key>guan_status</key>
            <string>0</string>
            <key>is_daren</key>
            <string>1</string>
            <key>list</key>
            <array>
                <dict>
                    <key>hand_id</key>
                    <string>348961</string>
                    <key>host_pic</key>
                    <string>1469971682129491210446_228</string>
                </dict>
                <dict>
                    <key>hand_id</key>
                    <string>269233</string>
                    <key>host_pic</key>
                    <string>1451035945129491277037_228</string>
                </dict>
                <dict>
                    <key>hand_id</key>
                    <string>225308</string>
                    <key>host_pic</key>
                    <string>1438959922129491254551_228</string>
                </dict>
            </array>
            <key>nick_name</key>
            <string>Faye&apos;s cake</string>
            <key>opus_count</key>
            <string>136</string>
            <key>tb_url</key>
            <string>http://s.click.taobao.com/t?e=m%3D2%26s%3Dwx2v%2Fi99kawcQipKwQzePDAVflQIoZepLKpWJ%2Bin0XJRAdhuF14FMdo5khALQLAfRitN3%2FurF3xSjqlL85x7Dkw4pjlbzzylArQ6Hpml8z2RZLps5gXyNUgUib1bNyAAcSpj5qSCmbA%3D</string>
            <key>user_id</key>
            <string>1294912</string>
            <key>video_count</key>
            <string>5</string>
        </dict>
        <dict>
            <key>avatar</key>
            <string>07_avatar_big</string>
            <key>course_count</key>
            <string>21</string>
            <key>course_time</key>
            <string>1472042915</string>
            <key>guan_status</key>
            <string>0</string>
            <key>is_daren</key>
            <string>1</string>
            <key>list</key>
            <array>
                <dict>
                    <key>hand_id</key>
                    <string>360515</string>
                    <key>host_pic</key>
                    <string>147199352855535_228</string>
                </dict>
                <dict>
                    <key>hand_id</key>
                    <string>327081</string>
                    <key>host_pic</key>
                    <string>146516373268765_228</string>
                </dict>
                <dict>
                    <key>hand_id</key>
                    <string>314834</string>
                    <key>host_pic</key>
                    <string>146218178457644_228</string>
                </dict>
            </array>
            <key>nick_name</key>
            <string>hello-泥萌-软陶手工</string>
            <key>opus_count</key>
            <string>119</string>
            <key>tb_url</key>
            <string></string>
            <key>user_id</key>
            <string>829407</string>
            <key>video_count</key>
            <string>12</string>
        </dict>
        <dict>
            <key>avatar</key>
            <string>82_avatar_big</string>
            <key>course_count</key>
            <string>19</string>
            <key>course_time</key>
            <string>1472041680</string>
            <key>guan_status</key>
            <string>0</string>
            <key>is_daren</key>
            <string>1</string>
            <key>list</key>
            <array>
                <dict>
                    <key>hand_id</key>
                    <string>343139</string>
                    <key>host_pic</key>
                    <string>14688931861683098244288_228</string>
                </dict>
                <dict>
                    <key>hand_id</key>
                    <string>340899</string>
                    <key>host_pic</key>
                    <string>14684670091683098215986_228</string>
                </dict>
                <dict>
                    <key>hand_id</key>
                    <string>337591</string>
                    <key>host_pic</key>
                    <string>146780769140814_228</string>
                </dict>
            </array>
            <key>nick_name</key>
            <string>木兰续</string>
            <key>opus_count</key>
            <string>41</string>
            <key>tb_url</key>
            <string>http://s.click.taobao.com/t?e=m%3D2%26s%3Dq0C17nww8UYcQipKwQzePDAVflQIoZepLKpWJ%2Bin0XJRAdhuF14FMUPkb1Foct12MMgx22UI05ZSjqlL85x7DpEYbnUBh0IGYRqMStCjicKgeuquEu4kDzHjlq8ZsBXwxgxdTc00KD8%3D</string>
            <key>user_id</key>
            <string>16830982</string>
            <key>video_count</key>
            <string>0</string>
        </dict>
        <dict>
            <key>avatar</key>
            <string>41_avatar_big </string>
            <key>course_count</key>
            <string>78</string>
            <key>course_time</key>
            <string>1472039135</string>
            <key>guan_status</key>
            <string>0</string>
            <key>is_daren</key>
            <string>1</string>
            <key>list</key>
            <array>
                <dict>
                    <key>hand_id</key>
                    <string>327077</string>
                    <key>host_pic</key>
                    <string>146514997270877_228</string>
                </dict>
                <dict>
                    <key>hand_id</key>
                    <string>320246</string>
                    <key>host_pic</key>
                    <string>146345776756650_228</string>
                </dict>
                <dict>
                    <key>hand_id</key>
                    <string>313001</string>
                    <key>host_pic</key>
                    <string>146182869751173_228</string>
                </dict>
            </array>
            <key>nick_name</key>
            <string>玫瑰手作</string>
            <key>opus_count</key>
            <string>113</string>
            <key>tb_url</key>
            <string></string>
            <key>user_id</key>
            <string>862241</string>
            <key>video_count</key>
            <string>0</string>
        </dict>
        <dict>
            <key>avatar</key>
            <string>75_avatar_big</string>
            <key>course_count</key>
            <string>15</string>
            <key>course_time</key>
            <string>1472039079</string>
            <key>guan_status</key>
            <string>0</string>
            <key>is_daren</key>
            <string>1</string>
            <key>list</key>
            <array>
                <dict>
                    <key>hand_id</key>
                    <string>303991</string>
                    <key>host_pic</key>
                    <string>145976363553495_228</string>
                </dict>
                <dict>
                    <key>hand_id</key>
                    <string>302906</string>
                    <key>host_pic</key>
                    <string>145968121247379_228</string>
                </dict>
                <dict>
                    <key>hand_id</key>
                    <string>301445</string>
                    <key>host_pic</key>
                    <string>145923761842621_228</string>
                </dict>
            </array>
            <key>nick_name</key>
            <string>北极丸子</string>
            <key>opus_count</key>
            <string>134</string>
            <key>tb_url</key>
            <string></string>
            <key>user_id</key>
            <string>16844875</string>
            <key>video_count</key>
            <string>2</string>
        </dict>
        <dict>
            <key>avatar</key>
            <string>67_avatar_big</string>
            <key>course_count</key>
            <string>15</string>
            <key>course_time</key>
            <string>1472038032</string>
            <key>guan_status</key>
            <string>0</string>
            <key>is_daren</key>
            <string>1</string>
            <key>list</key>
            <array>
                <dict>
                    <key>hand_id</key>
                    <string>317304</string>
                    <key>host_pic</key>
                    <string>146275115346718_228</string>
                </dict>
                <dict>
                    <key>hand_id</key>
                    <string>304956</string>
                    <key>host_pic</key>
                    <string>146002896044929_228</string>
                </dict>
                <dict>
                    <key>hand_id</key>
                    <string>299575</string>
                    <key>host_pic</key>
                    <string>145879771422060_228</string>
                </dict>
            </array>
            <key>nick_name</key>
            <string>暗潮</string>
            <key>opus_count</key>
            <string>99</string>
            <key>tb_url</key>
            <string>http://s.click.taobao.com/t?e=m%3D2%26s%3Dp402HSysdgccQipKwQzePDAVflQIoZepLKpWJ%2Bin0XJRAdhuF14FMaPqMRC3ROlcMMgx22UI05ZSjqlL85x7DsdGl0m%2FQfpjt1juy7%2FMU05tsYe7vslNU0kshtKQC3uPxgxdTc00KD8%3D</string>
            <key>user_id</key>
            <string>16509767</string>
            <key>video_count</key>
            <string>0</string>
        </dict>
        <dict>
            <key>avatar</key>
            <string>55_avatar_big</string>
            <key>course_count</key>
            <string>43</string>
            <key>course_time</key>
            <string>1472036926</string>
            <key>guan_status</key>
            <string>0</string>
            <key>is_daren</key>
            <string>1</string>
            <key>list</key>
            <array>
                <dict>
                    <key>hand_id</key>
                    <string>350415</string>
                    <key>host_pic</key>
                    <string>147022632965230_228</string>
                </dict>
                <dict>
                    <key>hand_id</key>
                    <string>346179</string>
                    <key>host_pic</key>
                    <string>146945254347733_228</string>
                </dict>
                <dict>
                    <key>hand_id</key>
                    <string>345893</string>
                    <key>host_pic</key>
                    <string>146945187348347_228</string>
                </dict>
            </array>
            <key>nick_name</key>
            <string>阿猫咪</string>
            <key>opus_count</key>
            <string>420</string>
            <key>tb_url</key>
            <string></string>
            <key>user_id</key>
            <string>1296455</string>
            <key>video_count</key>
            <string>0</string>
        </dict>
	</array>
	<key>info</key>
	<string>success</string>
	<key>status</key>
	<integer>1</integer>
</dict>
</plist>
